# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*-bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

/ATF2FT232HQ/ATF2FT232HQ-backups
/ATF2FT232HQ/ATF2FT232HQ-cache.lib
fp-info-cache
jlcpcb
